.online {
	width: .75em;
	height: auto;
	fill: red;
}

.currently-online {
	position: fixed;
	margin-top: 10px;
}

.activeContainer {
	display: flex;
	width: 35vw;
	justify-content: center;
}

.activeItem {
	margin: 0 1em 0 1em;
}