.online {
	width: .75em;
	height: auto;
}

.currently-online {
	position: fixed;
	margin-top: 10px;
	height: auto;
}

.activeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 40em;
}

.activeItem {
	margin: 0 1em 0 1em;
}

.RoomSize {
	display: flex;
	justify-content: center;
}